/* Estilo principal do site */
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/* Estilo da Navbar */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.8rem 2rem;
    background-color: #1f1f1f;
    box-shadow: 0px 3px 10px #464646;
}

/* Estilo da Logo da Navbar */
.nav-logo img {
    width: 200px;
    height: auto;
}

/* Estilizando os Itens da Lista da Navbar */
.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-list li {
    margin: 0 20px;
    text-decoration: none;
}

.nav-list a {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}

/* Estilo do Botão da Navbar */
.nav-button button {
    background-color: #ffffff;
    box-shadow: 5px 5px 15px #000000;
    padding: 12px 35px;
    border: none;
    border-radius: 40px;
}

.nav-button a {
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 30px;
}



/* Estilo da Sessão de Introdução */
.company-presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
}

/* Estilo da Sessão Esquerda de Introdução */
.leftBox {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 20px;
    max-width: 550px;
    align-items: center;
    justify-content: center;
}

/* Estilo da Caixa de Texto */
.textBox {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    height: 200px;
    row-gap: 30px;
}

/* Estilo das Fontes da Caixa de Texto */
.textBox span {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.textBox h1 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    width: 450px;
}

.textBox p {
    font-size: 18px;
    margin: 0;
}



/* Estilo da Parte de Inscrição da Introdução */
.subscribeBox {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    height: 30px;
    max-width: 295px;
    row-gap: 30px;
}

.subscribeBox input {
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid #E0E0E0;
    color: #000000;
    font-size: 15px;
}

.subscribeBox button {
    padding: 10px 10px;
    border-radius: 5px;
    width: 240px;
    border: none;
    text-align: start;
    background-color: #000000;
    box-shadow: 2px 2px 4px #d7d7d7;
}

.subscribeBox a {
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
}



/* Estilo da Parte de Contato da Introdução */
.contactBox {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    height: 50px;
    row-gap: 15px;
}

#linkContact {
    color: #09367b;
    text-decoration: none;
    font-size: 18px;
}

.iconBox {
    display: flex;
    justify-content: space-between;
    width: 165px;
}

.iconBox i {
    background-color: #d7d7d7;
    border-radius: 40px;
    padding: 7px;
    font-size: 20px;
    color: #000000;
}



/* Estilo da Sessão Direita de Introdução */
.rightBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightBox img {
    width: auto;
    height: 750px;
}


/* Main */
main {
    display: flex;
    flex-direction: column;
}

.project__showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    background-color: #F8F8F8;
    padding: 140px 0;
}

.title h1 {
    font-size: 35px;
    font-weight: 700;
}

.title p {
    font-size: 18px;
    font-weight: 400;
    width: 1000px;
    text-align: center;
}

.content-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 120px 0 120px 0;
}

.project__showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project__showcase-content {
    display: flex;
    align-items: center;
    width: 1300px;
    background-color: #F8F8F8;
    border-radius: 20px;
    box-shadow: 5px 5px 8px #00000015;
    margin: 100px 0 100px 0;
}

.project__showcase-left__content {
    width: 500px;
    height: 400px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
    /*clip-path: polygon(0 0, 0 0, 15% 25%, 0 0);*/
}

.project__showcase-right__content {
    display: flex;
    flex-direction: column;
    margin-left: 45px;
}

.project__showcase-right__content h2,
span,
p {
    letter-spacing: 2px;
    line-height: 1.4;
}

.project__showcase-right__content h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.project__showcase-right__content span {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
    color: #969696;
}

.project__showcase-right__content div {
    width: 100px;
    height: 5px;
    background-color: #0058DF;
    border-radius: 8px;
    margin-bottom: 15px;
}

.project__showcase-right__content p {
    font-size: 15px;
    font-weight: 400;
    width: 650px;
    color: #969696;
    margin: 0;
}

.project__showcase-right__content button {
    margin-top: 50px;
    padding: 15px 0;
    width: 200px;
    border-radius: 50px;
    border: none;
    background-image: linear-gradient(to right, #09367b, #0058DF);
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
}

.parceiras {
    background-color: #F8F8F8;
}

.parceiras-texto {
    text-align: center;

}

.parceiras-texto h1 {
    font-size: 40px;
}

.parceiras-text {
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 60px;
}

.parceiras img {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.parceiras-item {
    text-align: center;
}

.parceiras-item div {
    display: inline-block;
    margin: 23px;
    margin-top: 50px;
    margin-bottom: 60px;

}

.rodape2 div {
    margin: 30px;
    height: 200px;
    width: 400px;
    font-size: 12px;
}

.rodape2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
    border-bottom: 1px solid;
    margin-bottom: -20px;
}

.diretorios {
    text-align: left;
}

.diretorios h2,
p {
    margin: 20px;
}

.slogan-text1 {
    text-align: center;
    margin-top: 15%;
    font-size: 18px;
}

.slogan-text2 {
    text-align: center;
    margin-bottom: 15%;
    font-weight: bold;
    font-size: 18px;
}

.direitos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -10px;
    margin-top: 32px;
    font-size: 13px;
    padding: 10px 0 20px 0;
}

.direitos p {
    margin: 0;
}