
.container {
    max-width: 900px;
    background-color: #fff;
    padding: 20px;
    margin-top: 36px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.container h1 {
    text-align: start;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 600;
    font-family: var(--title-font-family);
}

.profile-section {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    font-family: var(--text-font-family);
}

.profile-pic {
    position: relative;
    margin-right: 30px;
    background-color: var(--grey-color);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid var(--dark-grey-color);
}

.profile-pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.personal-info {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    flex-grow: 1;
}


.input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  label {
    font-size: 15px;
    font-weight: 600;
  }
  
  input {
    padding: 10px 25px;
    border: 1px solid #D0D0D0;
    outline: none;
  }
  
  input::placeholder {
    font-size: 14px;
    font-weight: 500;
    color: var(--dark=grey-color);
  }

.address-section {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.address-section h2 {
    font-size: 24px;
    font-weight: 600;
    font-family: var(--title-font-family);
}

.address-section label {
    font-size: 15px;
    font-weight: 600;
    font-family: var(--text-font-family);
}

.address-section button {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    font-family: var(--title-font-family);
    cursor: pointer;
    background-color: var(--main-color);
    color: var(--white-color);
}

#confirm-btn{
    background-color: green ;
    width: 428px;
}

#cancel-btn{
    background-color: red ;
    width: 428px;
}
